-- Spotify Integration Database Schema Updates
-- Run this migration to add Spotify support to your database

-- 1. Add Spotify ID columns to existing tables
ALTER TABLE artists ADD COLUMN IF NOT EXISTS spotify_id TEXT UNIQUE;
ALTER TABLE songs ADD COLUMN IF NOT EXISTS spotify_id TEXT UNIQUE;
ALTER TABLE albums ADD COLUMN IF NOT EXISTS spotify_id TEXT UNIQUE;

-- 2. Create Spotify connections table
CREATE TABLE IF NOT EXISTS spotify_connections (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  spotify_user_id TEXT UNIQUE NOT NULL,
  access_token TEXT NOT NULL,
  refresh_token TEXT NOT NULL,
  token_expires_at TIMESTAMP WITH TIME ZONE NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 3. Create Spotify sync logs table
CREATE TABLE IF NOT EXISTS spotify_sync_logs (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  sync_type TEXT NOT NULL,
  status TEXT NOT NULL,
  items_processed INTEGER DEFAULT 0,
  items_failed INTEGER DEFAULT 0,
  error_message TEXT,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 4. Create indexes for better performance
CREATE INDEX IF NOT EXISTS idx_spotify_connections_user_id ON spotify_connections(user_id);
CREATE INDEX IF NOT EXISTS idx_spotify_connections_spotify_user_id ON spotify_connections(spotify_user_id);
CREATE INDEX IF NOT EXISTS idx_spotify_sync_logs_user_id ON spotify_sync_logs(user_id);
CREATE INDEX IF NOT EXISTS idx_spotify_sync_logs_created_at ON spotify_sync_logs(created_at);

-- 5. Enable RLS and create policies
ALTER TABLE spotify_connections ENABLE ROW LEVEL SECURITY;
ALTER TABLE spotify_sync_logs ENABLE ROW LEVEL SECURITY;

-- RLS policies for spotify_connections (with IF NOT EXISTS check)
DO $$
BEGIN
    -- Check if policy exists before creating
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies 
        WHERE tablename = 'spotify_connections' 
        AND policyname = 'Users can view their own spotify connections'
    ) THEN
        CREATE POLICY "Users can view their own spotify connections" ON spotify_connections
          FOR SELECT USING (auth.uid() = user_id);
    END IF;

    IF NOT EXISTS (
        SELECT 1 FROM pg_policies 
        WHERE tablename = 'spotify_connections' 
        AND policyname = 'Users can insert their own spotify connections'
    ) THEN
        CREATE POLICY "Users can insert their own spotify connections" ON spotify_connections
          FOR INSERT WITH CHECK (auth.uid() = user_id);
    END IF;

    IF NOT EXISTS (
        SELECT 1 FROM pg_policies 
        WHERE tablename = 'spotify_connections' 
        AND policyname = 'Users can update their own spotify connections'
    ) THEN
        CREATE POLICY "Users can update their own spotify connections" ON spotify_connections
          FOR UPDATE USING (auth.uid() = user_id);
    END IF;

    IF NOT EXISTS (
        SELECT 1 FROM pg_policies 
        WHERE tablename = 'spotify_connections' 
        AND policyname = 'Users can delete their own spotify connections'
    ) THEN
        CREATE POLICY "Users can delete their own spotify connections" ON spotify_connections
          FOR DELETE USING (auth.uid() = user_id);
    END IF;
END $$;

-- RLS policies for spotify_sync_logs (with IF NOT EXISTS check)
DO $$
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies 
        WHERE tablename = 'spotify_sync_logs' 
        AND policyname = 'Users can view their own sync logs'
    ) THEN
        CREATE POLICY "Users can view their own sync logs" ON spotify_sync_logs
          FOR SELECT USING (auth.uid() = user_id);
    END IF;

    IF NOT EXISTS (
        SELECT 1 FROM pg_policies 
        WHERE tablename = 'spotify_sync_logs' 
        AND policyname = 'Users can insert their own sync logs'
    ) THEN
        CREATE POLICY "Users can insert their own sync logs" ON spotify_sync_logs
          FOR INSERT WITH CHECK (auth.uid() = user_id);
    END IF;
END $$;
